.active__button {
  background-color: green;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 5px;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
}

.non-active__button {
  background-color: rgba(124, 124, 124, 0.8);
  outline: none;
  border: 1px solid white;
  text-transform: uppercase;
  border-radius: 5px;
  color: white;
  font-size: 12px;
}